<!DOCTYPE html>
<html lang="en" ng-app="serviceapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body ng-controller="main as m">
        <button ng-click="m.open('first')">First tab</button>
        <button ng-click="m.open('second')">Second tab</button>
        
        <div ng-switch-on="m.tab">
            <div ng-switch-when="first" ng-controller="sub as s">
                <h3>First tab</h3>
                <ul>
                    <li ng-repeat="item in s.list()">{{item.label}}</li>
                </ul>
                <button ng-click="s.add()">Add more items</button>
            </div>
            <div ng-switch-when="second" ng-controller="sub as s">
                <h3>Second tab</h3>
                <ul>
                    <li ng-repeat="item in s.list()">{{item.label}}</li>
                </ul>
                <button ng-click="s.add()">Add more items</button>
            </div>
        </div>
        
        <script>
            function Itemservice(){
                var items = [{id : 1, label : "Item 0"},{id : 2, label : "Item 1"}];
                this.list = function(){
                    return items;
                };

                this.add = function(item){
                    items.push(item);
                };
            }

            angular.module('serviceapp',[])

            .service('Itemservice',[Itemservice])

            .controller('main',function(){
                this.tab = "first";
                this.open = function(tab){
                    this.tab = tab;
                };
            })

            .controller('sub',["Itemservice",function(Itemservice){
                this.list = function(){
                    return Itemservice.list();
                };
                this.add = function(){
                    Itemservice.add({id:this.list().length+1, label:"Item"+this.list().length});
                };
            }]);
        </script>
</body>
</html>